@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext');

*{
	margin:0; padding:0;
}

html,body{
	height:100%;
	width:100%;
	margin:0 auto;
}
h1,h2,h3,p,a{
	font-family: 'Roboto','sans-serif';
}

#wrapper{
	width:100%;
	margin:0 auto;
	overflow:none;
}
#wrapper1{
	width:100%;
	background-color:#222222;
}
#header{
	width:100%;
	background-color:#f2eee3;
	margin-bottom:20px;
}

#header ul li{
	display: inline-block;
	text-decoration: none;
	padding:5px;
	cursor:pointer;
}
#header img{
	display:inline-block;

}

.cover1{
	width:100%;
}
.cover1 img{
	width:100%;
	height:100%;
}

.cover2{
	width:33%;
	height:480px;
	float:left;
	overflow:hidden;
}
.cover2 img{
	overflow:hidden;
	width:100%;
	height:100%;
}

.cover3{
	width:34%;
	height:480px;
	float:left;
	overflow:hidden;
}
.cover3 img{
	overflow:hidden;
	width:100%;
	height:100%;
}

.cover4{
	width:33%;
	height:480px;
	float:right;
	overflow:hidden;
}

.cover4 img{
	overflow:hidden;
	width:100%;
	height:100%;
}

.cover2:hover{
	
	cursor:pointer;
	opacity:0.4;
}
.cover3:hover{
	
	cursor:pointer;
	opacity:0.4;
}
.cover4:hover{
	
	cursor:pointer;
	opacity:0.4;
}
.logo{
	float:left;
	padding-top:35px;
	padding-left:20px;
	padding-bottom:150px;
	margin-left:120px;
}
.logo:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	transition: all 0.6s;
	-webkit-transition: all 0.5s;
}

.menu{
	float:right;
	font-size: 0.8rem;
	padding-left:20px;
	padding-top:35px;
	padding-bottom:150px;
	margin-right:120px;
	font-family: 'Roboto','sans-serif';
}

#content{
	width:80%;
	margin:0 auto;
	text-align:center;
	padding: 130px;
}

.block1{
	width:80%;
	margin:0 auto;	
	text-align:justify;
	margin-top:40px;
	margin-bottom:40px;
	overflow: hidden;
}
.block1 h1,h3{
	color:black;
	text-align:center;
}
.block1 h3{
	padding-bottom:45px;
	color:#b6b6b6;
	font-size:14px;
	text-align:center;
	margin-top:135px;
}
.block1 h1{
	padding-bottom:115px;
	color:#222222;
	font-size:50px;
}
.block1 p{
	line-height: 1.8rem;
	font-size:20px;
	padding-bottom:133px;
	color:#3d3d3d;
	text-align:center;
}

.block2{
	width:100%;
	height:260px;
	marin:0 auto;
}
.block2 h3{
	padding-top:60px;
	text-align:justify;
}
.block2 p{
	width:50%;
	text-align:justify;
	padding-bottom:35px;
}
.block2 ul{
	width:100%;
	text-align:justify;
	padding:0;
	margin:0;
	list-style:none;
	float:left;
}
.block2 li{
	text-align:justify;
	display: inline;
	text-decoration:none;
	color:#c41230;
	font-family: 'Roboto';
	font-size:14px;
	border:1px solid #bbbbbb;
	padding:7px;
	float:left;
	margin-left:5px;
}
.block2 a{
	text-align:center;
	float:right;
	color:black;
	text-decoration:none;
	border:2px solid black;
	width:160px;
	height:33px;
	padding-top:10px;
	
}

.blockUcutaj{
	padding: 130px 0px;
}
.block2a{
	width:100%;
	height:260px;
	marin:0 auto;
}

.block2a h3{
	padding-top:60px;
	text-align:justify;
	color:#dedede;
}
.block2a p{
	width:50%;
	text-align:justify;
	color:#dedede;
	padding-bottom:35px;
}
.block2a ul{
	width:600px;
	text-align:justify;
	padding:0;
	margin:0;
	list-style:none;
	color:#dedede;
}
.block2a li{
	text-align:justify;
	display: inline;
	text-decoration:none;
	color:#c41230;
	font-family: 'Roboto';
	font-size:14px;
	border:1px solid #bbbbbb;
	padding:7px;
	float:left;
	margin-left:5px;
	color:#dedede;
	
}
.block2a a{
	text-align:center;
	float:right;
	color:black;
	text-decoration:none;
	border:2px solid black;
	width:160px;
	height:33px;
	padding-top:10px;
	color:#dedede;
}

.ucitaj{
	color:#333333;
	text-decoration:none;
	border:1px solid white;
	background-color:#eeeeee;
	padding:10px;
	
}
.ucitaj a{
	padding:50px;
	color:gray;
	text-align:center;
	font-family: 'Roboto';
	width:200px;
}




.tw{
	
	padding-right:5px;
	cursor:pointer;
}
.tw:hover {
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	transition: all 0.6s;
	-webkit-transition: all 0.6s;
}
.fb{
	cursor:pointer;
}
.fb:hover {-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
		transition: all 0.6s;
		-webkit-transition: all 0.6s;
}

.social{
	width:100%;
	text-align:center;
	background-color:#ffffff;
	margin-bottom:105px;
}
.social h3{
	color:#b6b6b6;
	margin-bottom:25px;
	margin-top:240px;
}
.social img{
	
}
#footer{
	width:100%;
	height: 300px;
	margin:0 auto;
	text-align:center;
}
#footer h3{
	text-align: left;
	color:#f2f2f2;
}
#footer p{
	margin-bottom:105px;
	color:#666666;
	text-align:justify;
	margin-left:180px;
}

#footer ul{
	list-style: none;
	margin: 30% 15%;

}

#footer  li{
	text-align:justify;
	color:#666666;
	font-family:'Roboto';
}

.footer1{
	width:33%;
	height: 100%;
	float:left;
	background-color:#222222;
}
.footer1 ul li{
	text-decoration:none;
}
.footer2{
	width:34%;
	float:left;
	height: 100%;
	background-color:#222222;
}

.footer4{
	float:left;
	width:100%;
	background-color:#1e1e1e;
	position:inherit;
	text-align:center;
}

.footer4 p{
	color:#666666;
}


